@tailwind base;
@tailwind components;
@tailwind utilities;
/*  */

:root {

  --background: #111;
  --text: #000000;

  --primary-light: #4b5563;
  --primary: #374151;
  --primary-dark: #1f2937;

  --secondary-light: #93c5fd;
  --secondary: #3b82f6;
  --secondary-dark: #1d4ed8;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fff; /* Cor da barra de rolagem alterada para dark-text-color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color); /* Cor da barra ao passar o mouse */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color); /* Cor do fundo da barra */
}

